root:
  host: https://www.pivotaltracker.com
  root_path: /services/v5/
  authorization_type: bearer
  default_role: admin
  headers:
    accept: application/json
    Content-Type: application/json
  roles:
    admin:
      username: <password>
      password: <password>
      headers:
        X-TrackerToken: <token>